asgiref==3.11.1
brotli==1.2.0
certifi==2026.6.17
cffi==2.0.0
charset-normalizer==3.4.7
cssselect2==0.9.0
Django==6.0.6
docopt==0.6.2
fonttools==4.63.0
idna==3.18
joblib==1.5.3
narwhals==2.22.1
numpy==2.5.0
nvidia-nccl-cu12==2.30.7
pillow==12.2.0
pipreqs==0.4.13
pycparser==3.0
pydyf==0.12.1
pyphen==0.17.2
requests==2.34.2
scikit-learn==1.9.0
scipy==1.18.0
sqlparse==0.5.5
threadpoolctl==3.6.0
tinycss2==1.5.1
tinyhtml5==2.1.0
urllib3==2.7.0
weasyprint==69.0
webencodings==0.5.1
xgboost==3.3.0
yarg==0.1.10
zopfli==0.4.3
