{% load static %}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>ログイン</title>
    <link rel="stylesheet" href="{% static 'project/css/login.css' %}">
    <script src="{% static 'project/js/login.js' %}" defer></script>
</head>
<body>
    <h1>ログイン</h1>

    <!-- メッセージ表示 -->
    {% if messages %}
        <div class="messages">
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
        </div>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        <label>ユーザー名:
            <input type="text" name="username" required>
        </label>
        <label>パスワード:
            <input type="password" name="password" required>
        </label>
        <button type="submit">ログイン</button>
    </form>
    <p class="login-footer">
    アカウントをお持ちでない場合は <a href="{% url 'project:register' %}">新規登録</a>
</p>
</body>
</html>
