{% load static %}

<!DOCTYPE html>
<html lang="ja" class="notranslate">
<head>
    <meta charset="UTF-8">
    <meta name="google" content="notranslate">
    
    <title>新規登録</title>
    <link rel="stylesheet" href="{% static 'project/css/register.css' %}">
    <script src="{% static 'project/js/register.js' %}" defer></script>
</head>
<body>
    <h1>新規登録</h1>

    <form method="post" autocomplete="off">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">登録</button>
    </form>

    <p>すでにアカウントをお持ちですか？ <a href="{% url 'project:login' %}">ログイン</a></p>
</body>
</html>