@font-face {
  font-family: "NotoSansJP";
  src: url("../fonts/NotoSansJP-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
}

body {
  font-family: "NotoSansJP", sans-serif;
  font-size: 12px;
  color: #000;
}

table {
  margin: 0 auto;            
  border-collapse: collapse;
  width: 80%;                 
}

th, td {
  border: 1px solid #333;
  padding: 6px 10px;
}

th {
  background: #f0f0f0;
  text-align: center;
}


td:first-child {
  width: 40%;
  text-align: left;
}

td:last-child {
  text-align: right;
}

tr.total td {
  font-weight: bold;
  background: #fafafa;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}
